# Cassandra Configuration

# Contact points for your cluster, currently only the first is used
contact_points = ["127.0.0.1"]

# Keyspace to work with, this doesn't have to exist yet.
keyspace = "foo"

# Authentication Information
username = None
password = None

# Flag indicating whether this host is the migration master. Migrations are only run on the migration master
migration_master = True


# Solr Configuration
solr_url = "http://127.0.0.1:8983/solr"

